@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}


// HEADER //


.row-head {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: 15px;
        margin: 0;
        padding: 0;
        align-items: center;

        li {
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    figure {
        margin: 0;
        padding: 0;
    }
}

// MAIN //

.jumbo-img {
    aspect-ratio: 14/4;
    object-fit: cover;
    object-position: top;
}

.back-grd {
    background-color: rgb(24, 23, 22);
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 50px 0;
}

.cardDc {
    p {
        margin: 10px 0;
        color: white;
        text-transform: uppercase;
    }

    img {
        aspect-ratio: 8/12;
        object-fit: cover;
    }
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 50px 0;

    p {
        color: white;
        text-transform: uppercase;
    }
}

.back-info {
    background-color: #0074e8;
}