@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}


// HEADER //


.row-head {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        gap: 15px;
        margin: 0;
        padding: 0;
        align-items: center;

        li {
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    figure {
        margin: 0;
        padding: 0;
    }
}

// MAIN //

.jumbo-img {
    aspect-ratio: 14/4;
    object-fit: cover;
    object-position: top;
}

.back-grd {
    background-color: rgb(24, 23, 22);
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 50px 0;
    padding-bottom: 126px;
}

.cardDc {
    p {
        margin: 10px 0;
        color: white;
        text-transform: uppercase;
    }

    img {
        object-fit: cover;
        height: 80%;
        aspect-ratio: 8/12;
    }
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 50px 0;

    p {
        color: white;
        text-transform: uppercase;
    }
}

.back-info {
    background-color: #0074e8;
}

.positions {
    position: relative;
}

.btn-up-grid {
    padding: 6px 20px;
    color: white;
    background-color: #0074e8;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: -5px;
}

.btn-bottom-grid {
    padding: 5px 40px;
    color: white;
    background-color: #0074e8;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    bottom: 35px;
    right: 38%;
}


// FOOTER //

.foot {
    display: flex;
    color: white;
    gap: 30px;

    h3 {
        text-transform: uppercase;
        margin-top: 5px;
    }

    li {
        color: rgb(120, 118, 118);
        font-size: 12px;
        padding: 5px 0;
    }
}

.links {
    background-image: url('/resources/images/footer-bg.jpg');
    padding: 40px 0;
}

.social {
    background-color: rgb(46, 46, 46);
    padding: 20px 0;

    .row-social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 10px;
            text-transform: uppercase;
            font-weight: 700;
            border: 2px solid #0074e8;
            background-color: rgb(46, 46, 46);
            color: white;
        }

        ul {
            display: flex;
            gap: 20px;
            padding: 0;
            margin: 0;
            align-items: center;
            justify-content: center;

            h3 {
                text-transform: uppercase;
                color: #0074e8;
                font-weight: 700;
                font-size: 18px;
                margin: 0;
            }
        }
    }
}